* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    overflow: auto;
}

body {
    background-color: #FDF3D6;
    font-family: "Montserrat", sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
}

nav .logo {
    float: left;
    margin: 0px 15px;
    color: #22AA54;
    line-height: 70px;
    transition: transform 0.3s ease-in-out;
}

nav .logo:hover {
    color: #ffff;
}

.s-buttons {
    display: flex;
    justify-content: flex-end; 
    align-items: center;       
    margin: 18px 10px;
    gap: 10px;
}

.logout-button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(196, 0, 0);
    color: black;
    cursor: pointer;
    border: #ff0000;
    border-radius: 15px;
    transition: transform 0.3s;
}

.logout-button:hover {
    color: #ffff;
    background-color: #ff0000;
}

.trash {
    width: 50px;
    height: 40px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

.trash:hover {
    text-shadow: #FF9F00 2px 2px 2px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 80px;
    width: 200px;
    height: 100vh;
    background-color: #0A2C16;
    color: white;
    padding: 20px;
}

.sidebar h3 {
    font-size: 25px;
    color: #ffff;
    text-shadow: none;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 40px;
    font-size: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

hr {
    color: black;
    font-weight: 2px;
}


.top {
    margin-left: 300px;
    margin-right: 40px;
}

.content-box {
    margin-top: 50px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: space-between;
}

.round-box {
    width: 190px;
    height: 70px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: inline-block;  
    background-color: #CFD1F4;
    margin: 70px 5px 15px 10px; 
}

li.active a {
    color: #FF9F00;
    /* Example active link color */
    font-weight: bold;
}

a.active,
a:hover {
    color: #FF9F00;
    text-shadow: 0px 0px 9px #FF9F00;
    transition: color .3s, text-shadow .3s;
}
/* Search Bar */
.search-form {
    display: flex;
    gap: 15px;
    align-items: center;
}
input[type="text"], input[type="date"], select {
    padding: 10px;
    font-size: 16px;
    border: 3px solid #0A2C16;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s;
    width: 50%;
    box-sizing: border-box;
    margin-right: 20px;
    
}
.material-symbols-outlined {
    all: unset;
    font-family: "Material Symbols Outlined"; /* Ensure the font is properly loaded */
    color: #0A2C16; /* Custom button color */
    cursor: pointer;
    font-size: 18px; /* Adjust for better readability */
    padding: 10px 15px; /* Add padding for a clickable area */
    border: none;
    border-radius: 5px; /* Optional, for rounded edges */
    background-color: transparent; /* Ensure no default background */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover and click effects */
}

.material-symbols-outlined:hover {
    background-color: #d4f2e0; /* Highlight on hover */
}

.material-symbols-outlined:active {
    transform: scale(0.95); /* Button press effect */
}

table,
th,
td {
    border: 1px solid black;
    background-color: #FDF3D6;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    font-size: 20px;
    text-align: center;
}

td {
    text-align: left;
    font-size: 17px;
    padding: 20px 5px;
}
.hidden-input {
    display: none;
}

#user {
    padding-top: 5px;
}

.edit-input,
.edit-submit {
    display: none;
    margin-right: -80px;
}

.view-text {
    display: inline;
}

textarea {
    width: 97%;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 90px;
    padding-left: 310px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* Semi-transparent background */
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #F9F2B4;
    font-size: 19px;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    height: 77%;
    overflow: auto;
}

.close {
    cursor: pointer;
    font-size: 24px;
    float: right;
}

.body{
    height: 80%;
    padding: 20px 20px;
    background-color: #FDF3D6;
    border: 1px solid #000000;
}

.modal-content input[type="text"],
.modal-content input[type="time"],
.modal-content input[type="date"],
.modal-content input[type="file"],
.modal-content input[type="password"],
.modal-content select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-content input[type="number"] {
    width: 30%;
    padding: 10px;
    margin: 5px 1% 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.modal-content input[type="submit"],
.modal-content button,
.modal-content button[type="submit"] {
    background-color: #0A2C16;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal-content button{
    padding: 10px 10px;
    margin-bottom: 5px;
}
.modal-content input[type="submit"]:hover,
.modal-content button:hover,
.modal-content button[type="submit"]:hover {
    background-color: #0abb48;
}

.img-box {
    border-radius: 20px 20px;
    margin: 30px auto;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.img-box:hover {
    border-radius: 20px 20px;
    background-color: #6a6f4c;
    box-shadow: 0 0 40px rgb(106, 111, 76);
    transform: scale(1.05);
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.img-wrapper img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.img-box:hover .img-wrapper img {
    transform: scale(1.05);
}

.img-wrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 20px;
    z-index: 3;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#crvs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.add-user-btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0A2C16;
    /* Bootstrap primary color */
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-user-btn:hover {
    background-color: #FF9F00;
    /* Darker shade for hover */
}


.centered-table {
    padding: 10px;
    width: 100%;
}
.managehead {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
}

.pagination-container {
    text-align: left;   
}

.pagination-btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #0A2C16;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination-btn:hover {
    background-color: #FF9F00;
}
.modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal2-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}

.close {
    float: right;
    cursor: pointer;
}
div h3{
    margin-left: 5px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: #094514;
    background-color: transparent;
    display: flex; 
    flex-wrap: wrap;
}

/* Style the buttons inside the tab */
.tab button {
    font-size: 17px;
    color: #FF9F00;
    background-color: transparent;
    font-weight: bold;
    float: left;
    border: 1px solid #094514;
    border-radius: 50px 50px;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #094514;
    color: #FF9F00;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #094514;
    border-radius: 10px 10px 0px 0px;
    color: #FF9F00;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #094514;
    background-color: #094514;
    margin-top: -1px;
}
.labels {
    display: flex;
    gap: 300px; 
    align-items: center;
}
.bill-fields {
    display: flex;
    gap: 30px; 
    align-items: center;
}
.notification {
    position: fixed;
    top: 10px;
    left: 45%;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 10px 20px;
    z-index: 9999; 
    opacity: 1;
  }